@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Lato";
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  width: 100%;
  z-index: 3333;
}
header .container {
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header .container .sayt_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 30px;
}
header .container .sayt_info span,
header .container .sayt_info b {
  color: #fff;
}
header .container .sayt_info .contact span:hover {
  transition: 0.2s linear;
  color: yellow;
}
header .container .sayt_info .search_lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .container .sayt_info .search_lang button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
header .container .sayt_info .search_lang span {
  background: #ffffff;
  border-radius: 50%;
  color: #151515;
  padding: 5px;
}
header .container .sayt_info .search_lang span .child {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  left: -5px;
  text-align: center;
  margin-top: 5px;
}
header .container .sayt_info .search_lang span .child li {
  padding: 5px;
  margin-top: 2px;
  background-color: #fff;
}
header .container .sayt_info .search_lang .parent {
  position: relative;
  font-size: 20px;
}
header .container .sayt_info .search_lang .parent:hover .child {
  display: block;
}
header .container nav {
  width: 100%;
  padding: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  z-index: 999999;
  transition: 1s;
}
header .container nav ul {
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-weight: bold;
}
header .container nav ul .active {
  color: yellow !important;
}
header .container nav ul .padding {
  padding: 20px 0;
}
header .container nav ul li {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
header .container nav ul li a {
  color: #fff;
}
header .container nav ul li .page_child {
  width: 185px;
  min-height: 180px;
  position: absolute;
  flex-direction: column;
  margin-left: -30px;
  padding: 28px 4px;
  background-color: #fff;
  font-family: "Lato";
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s all ease;
  transform: translateY(30px) scale(0.7);
}
header .container nav ul li .page_child li {
  margin-top: 15px;
}
header .container nav ul li .page_child li a {
  color: #2e2c2c;
  font-size: 14px;
}
header .container nav ul li .page_child li a:hover {
  color: blue;
}
header .container nav ul li .element_child {
  width: 675px;
  min-height: 350px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: -30px;
  padding: 30px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s all ease;
  transform: translateY(30px) scale(0.7);
}
header .container nav ul li .element_child .elements,
header .container nav ul li .element_child .additional {
  margin-top: 30px;
}
header .container nav ul li .element_child .elements span,
header .container nav ul li .element_child .additional span {
  color: #0473DB;
  display: inline-block;
  border-bottom: 1px solid grey;
  font-family: "Poppins";
  font-weight: 400;
  padding-bottom: 7px;
}
header .container nav ul li .element_child .elements .icon,
header .container nav ul li .element_child .additional .icon {
  fill: #0473DB;
  display: flex;
  align-items: center;
  width: 240px;
  margin-bottom: 10px;
}
header .container nav ul li .element_child .elements .icon pre,
header .container nav ul li .element_child .additional .icon pre {
  margin-left: 5px;
}
header .container nav ul li .element_child .elements .element_ul1,
header .container nav ul li .element_child .additional .element_ul1 {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato";
  font-weight: 400;
}
header .container nav ul li .element_child .elements .element_ul1 li,
header .container nav ul li .element_child .additional .element_ul1 li {
  width: 50%;
  box-sizing: border-box;
  margin: 10px 0;
}
header .container nav ul li .element_child .elements .element_ul1 li a,
header .container nav ul li .element_child .additional .element_ul1 li a {
  color: #000;
}
header .container nav ul li .element_child .elements .element_ul1 li a:hover,
header .container nav ul li .element_child .additional .element_ul1 li a:hover {
  color: #0473DB;
}
header .container nav ul li .element_child .elements .element_ul,
header .container nav ul li .element_child .additional .element_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 400;
}
header .container nav ul li .element_child .elements .element_ul li,
header .container nav ul li .element_child .additional .element_ul li {
  margin: 10px 0;
}
header .container nav ul li .element_child .elements .element_ul li a,
header .container nav ul li .element_child .additional .element_ul li a {
  color: #000;
}
header .container nav ul li .element_child .elements .element_ul li a:hover,
header .container nav ul li .element_child .additional .element_ul li a:hover {
  color: #0473DB;
}
header .container nav ul .element_parent {
  position: relative;
  padding: 20px 0;
}
header .container nav ul .element_parent:hover .element_child {
  visibility: visible;
  opacity: 1;
  transform: translateY(40px) scale(1);
}
header .container nav ul .page_parent {
  position: relative;
  padding: 20px 0;
}
header .container nav ul .page_parent:hover .page_child {
  visibility: visible;
  opacity: 1;
  transform: translateY(40px) scale(1);
}

#firstSection {
  position: relative;
  overflow: hidden;
}
#firstSection #prev {
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2196078431);
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 60px;
  top: calc(50% - 60px);
  z-index: 999;
  border: none;
  left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 18px;
}
#firstSection span {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}
#firstSection span::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease;
}
#firstSection span:hover:before {
  width: 100%;
  transform: scale(0.6, 1);
}
#firstSection #next {
  position: absolute;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2196078431);
  color: #fff;
  width: 100px;
  height: 60px;
  top: calc(50% - 60px);
  z-index: 999;
  border: none;
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 18px;
}
#firstSection #slider {
  display: flex;
  position: relative;
  left: 0;
  transition: 0.5s all ease;
}
#firstSection #slider .slide {
  width: 100%;
  position: relative;
}
#firstSection #slider .slide img {
  width: 1520px;
  height: 700px;
}
#firstSection #slider .slide .info {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  padding: 30px;
  transform: translateX(0px);
  transition: 3s all ease;
  opacity: 0.7;
}
#firstSection #slider .slide .info h1 {
  font-family: "Comfortaa";
  font-size: 70px;
}
#firstSection #slider .slide .info p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}
#firstSection #slider .slide .info button {
  width: 160px;
  height: 59px;
  position: relative;
  background-color: #FAEA49;
  border: none;
  color: #000;
  font-family: "Lato";
  font-weight: 900;
  font-size: 14px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
#firstSection #slider .slide .info button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(65, 65, 231);
  z-index: -1;
  clip-path: circle(0%);
  transition: 0.3s all ease;
}
#firstSection #slider .slide .info button:hover::before {
  clip-path: circle(100%);
}
#firstSection #slider .slide .info button:hover {
  color: #fff;
}

#secondSection {
  width: 100%;
  height: 500px;
  background-image: url("../../../assets/img/bg-index-1.jpg");
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#secondSection .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Lato";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
#secondSection .container .equipment {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#secondSection .container .equipment .item_equip {
  border-bottom: 1px solid rgb(159, 156, 156);
}
#secondSection .container .equipment .item_equip,
#secondSection .container .equipment .item_equip1 {
  display: flex;
  margin-bottom: 50px;
  font-family: "Lato";
  height: 180px;
}
#secondSection .container .equipment .item_equip .img_equip,
#secondSection .container .equipment .item_equip1 .img_equip {
  padding: 10px;
}
#secondSection .container .equipment .item_equip .info_equip,
#secondSection .container .equipment .item_equip1 .info_equip {
  padding: 10px;
}
#secondSection .container .equipment .item_equip .info_equip h2,
#secondSection .container .equipment .item_equip1 .info_equip h2 {
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  color: #212020;
}
#secondSection .container .equipment .item_equip .info_equip p,
#secondSection .container .equipment .item_equip1 .info_equip p {
  color: #7d7979;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}
#secondSection .container .equipment #movementright {
  transform: translateX(-60px);
  transition: 3s all ease;
}
#secondSection .container .equipment #movementleft {
  transform: translateX(40px);
  transition: 3s all ease;
}

#thirdsection {
  background-image: url("../../../assets/img/parallax-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px;
}
#thirdsection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#thirdsection .container .counterModern {
  position: relative;
  width: 270px;
  height: 164px;
  color: #fff;
  text-align: center;
}
#thirdsection .container .counterModern h2 {
  font-family: "Comfortaa";
  font-size: 60px;
}
#thirdsection .container .counterModern .counterBefore {
  position: relative;
  width: 270px;
  height: 10%;
  display: flex;
  justify-content: center;
}
#thirdsection .container .counterModern .counterBefore::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
#thirdsection .container .counterModern h6 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  padding: 8px;
}

#fourthsection .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
#fourthsection .container .divers {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fourthsection .container .divers .diver_slider {
  width: 50%;
  padding: 10px;
}
#fourthsection .container .divers .diver_slider .image {
  margin: 0 20px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#fourthsection .container .divers .diver_slider .diver_buttons {
  display: flex;
  justify-content: center;
}
#fourthsection .container .divers .diver_slider .diver_buttons #diver1,
#fourthsection .container .divers .diver_slider .diver_buttons #diver2,
#fourthsection .container .divers .diver_slider .diver_buttons #diver3 {
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  color: lightgrey;
}
#fourthsection .container .divers .diver_slider .diver_buttons .selected {
  color: rgb(56, 56, 209) !important;
  transition: all 1s ease;
}
#fourthsection .container .divers .diver_accordion {
  width: 50%;
  padding: 10px;
}
#fourthsection .container .divers .diver_accordion h3 {
  width: 100%;
  font-family: "Comfortaa";
  font-size: 40px;
}
#fourthsection .container .divers .diver_accordion .accordion-item {
  width: 100%;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-button {
  width: 100%;
  height: 90px;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-button:hover .icons {
  transform: rotate(90deg);
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-button a {
  width: 100%;
  font-size: 18px;
  font-family: "Comfortaa";
  font-weight: bold;
  color: #0473DB;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-button a .icons {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding: 13px;
  border-radius: 50%;
  color: #0473DB;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
  transition: 0.5s all ease-in-out;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion-content p {
  color: #7d7979;
  font-size: 17px;
}
#fourthsection .container .divers .diver_accordion .accordion-item .accordion_active {
  max-height: 100px;
}
#fourthsection .container .diversLocation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}
#fourthsection .container .diversLocation .unit {
  width: 347px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(177, 174, 174);
}
#fourthsection .container .diversLocation .unit .unit-body {
  font-family: "Comfortaa";
  margin-left: 10px;
}
#fourthsection .container .diversLocation .unit .unit-body h5 {
  font-weight: 500;
}
#fourthsection .container .diversLocation .unit .unit-body h5 a {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all ease;
  margin-bottom: 8px;
}
#fourthsection .container .diversLocation .unit .unit-body h5 a:hover {
  color: #0473DB;
}
#fourthsection .container .diversLocation .unit .unit-body p {
  color: #7d7979;
}

#testimonial {
  background-color: #EFF3F8;
  overflow: hidden;
}
#testimonial .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
#testimonial .container h3 {
  font-size: 44px;
  font-family: "Comfortaa";
  text-align: center;
}
#testimonial .container .client-body {
  display: flex;
  width: 800px;
  height: 90px;
}
#testimonial .container .client-body .client-content {
  width: 100%;
  margin: 15px;
  font-size: 18px;
  padding: 10px;
  font-family: "Poppins";
  text-align: center;
}
#testimonial .container .client-body .appear {
  display: none;
}
#testimonial .container .client-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 20px 10px;
}
#testimonial .container .client-button #client-figure1,
#testimonial .container .client-button #client-figure2,
#testimonial .container .client-button #client-figure3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#testimonial .container .client-button #client-figure1 .image,
#testimonial .container .client-button #client-figure2 .image,
#testimonial .container .client-button #client-figure3 .image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  cursor: pointer;
}
#testimonial .container .client-button #client-figure1 .image img,
#testimonial .container .client-button #client-figure2 .image img,
#testimonial .container .client-button #client-figure3 .image img {
  border-radius: 50%;
}
#testimonial .container .client-button #client-figure1 h4,
#testimonial .container .client-button #client-figure2 h4,
#testimonial .container .client-button #client-figure3 h4 {
  color: #0473DB;
}
#testimonial .container .client-button #client-figure1 .overlayClient1,
#testimonial .container .client-button #client-figure1 .overlayClient2,
#testimonial .container .client-button #client-figure1 .overlayClient3,
#testimonial .container .client-button #client-figure2 .overlayClient1,
#testimonial .container .client-button #client-figure2 .overlayClient2,
#testimonial .container .client-button #client-figure2 .overlayClient3,
#testimonial .container .client-button #client-figure3 .overlayClient1,
#testimonial .container .client-button #client-figure3 .overlayClient2,
#testimonial .container .client-button #client-figure3 .overlayClient3 {
  width: 90px;
  height: 90px;
  background-color: #fff;
  opacity: 0.4;
  position: absolute;
  border-radius: 50%;
}

#gallery .container {
  max-width: 1200px;
  margin: 0 auto;
}
#gallery .container h3 {
  font-size: 44px;
  font-family: "Comfortaa";
  text-align: center;
  padding: 30px;
}
#gallery .container .gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 250px 250px 250px;
  grid-gap: 30px;
}
#gallery .container .gallery-container .gallery-item:nth-child(1), #gallery .container .gallery-container .gallery-item:nth-child(3), #gallery .container .gallery-container .gallery-item:nth-child(4), #gallery .container .gallery-container .gallery-item:nth-child(5) {
  grid-column: span 1;
}
#gallery .container .gallery-container .gallery-item:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
#gallery .container .gallery-container .gallery-item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}
#gallery .container .gallery-container .gallery-item:nth-child(7) {
  grid-column: span 2;
}
#gallery .container .gallery-container .gallery-item {
  position: relative;
}
#gallery .container .gallery-container .gallery-item:hover .overlay {
  visibility: visible;
  opacity: 0.9;
  transform: scale(1);
}
#gallery .container .gallery-container .gallery-item .moveText {
  font-weight: 400;
  margin-bottom: 10px;
}
#gallery .container .gallery-container .gallery-item .overlay {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s all ease;
  font-family: "Comfortaa";
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#gallery .container .gallery-container .gallery-item .overlay .searchImg {
  width: 40px;
  min-height: 40px;
  padding: 10px;
  background-color: #0473DB;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}
#gallery .container .gallery-container .gallery-item .overlay .animate2 {
  animation: anima2 1s;
}
@keyframes anima2 {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
#gallery .container .gallery-container .gallery-item .overlay span {
  font-family: "Comfortaa";
  font-size: 24px;
  padding: 10px;
}
#gallery .container .gallery-container .gallery-item .overlay span:hover {
  color: #0473DB;
}
#gallery .container .gallery-container .gallery-item .overlay .animate {
  animation: movetext 1s;
}
@keyframes movetext {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

#footer {
  background-color: #2A333F;
  margin-top: 20px;
}
#footer .container {
  max-width: 1200px;
  min-height: 270px;
  margin: 0 auto;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .container .galleryFooter, #footer .container .quick-links, #footer .container .getInTouch {
  font-family: "Comfortaa";
}
#footer .container .galleryFooter h5, #footer .container .quick-links h5, #footer .container .getInTouch h5 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}
#footer .container .galleryFooter .footerImg, #footer .container .quick-links .footerImg, #footer .container .getInTouch .footerImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
#footer .container .galleryFooter .footerImg a, #footer .container .quick-links .footerImg a, #footer .container .getInTouch .footerImg a {
  width: 96px;
  height: 96px;
  position: relative;
  overflow: hidden;
}
#footer .container .galleryFooter .footerImg a img, #footer .container .quick-links .footerImg a img, #footer .container .getInTouch .footerImg a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#footer .container .galleryFooter .footerImg a:hover:before, #footer .container .quick-links .footerImg a:hover:before, #footer .container .getInTouch .footerImg a:hover:before {
  transform: scale(2) rotate(45deg) translate3d(0, -100%, 0);
}
#footer .container .galleryFooter .footerImg a::before, #footer .container .quick-links .footerImg a::before, #footer .container .getInTouch .footerImg a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.4;
  transition: 0.6s all ease;
}
#footer .container .quick-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer .container .quick-links ul li {
  font-family: "Lato";
  font-size: 17px;
  padding: 0 17px 0 30px;
  margin: 10px 0;
  position: relative;
}
#footer .container .quick-links ul li::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: grey;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.5s all ease;
}
#footer .container .quick-links ul li:hover:before {
  width: 30px;
}
#footer .container .quick-links ul li a {
  color: #fff;
}
#footer .container .quick-links ul li a:hover {
  color: #0473DB;
}
#footer .container .getInTouch ul li {
  font-family: "Lato";
  font-size: 17px;
  margin: 15px 0;
}
#footer .container .getInTouch ul li a {
  color: #fff;
}
#footer .container .getInTouch ul li a:hover {
  color: #0473DB;
}
#footer .container .getInTouch ul li a .yellow {
  margin-right: 10px;
  color: #FAEA49;
  width: 30px;
}
#footer .container .getInTouch ul li a .footIcon {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s all ease;
}
#footer .container .getInTouch ul li a .footIcon:hover {
  border: 1px solid #0473DB;
}
#footer .subscribe {
  border-top: 1px solid grey;
}
#footer .subscribe p {
  font-family: "Poppins";
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 18px 0;
}

#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #0473DB;
  border-radius: 50%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#fixed a {
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.7254901961);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 99999999;
}
.modal .modal-content {
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
  margin: 5% auto;
}
.modal .modal-content img {
  width: 100%;
  height: 100%;
}
.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.headerAnime {
  animation: anime 1s forwards;
}

@keyframes anime {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    background-color: #fff;
    color: black;
  }
}
#preloader {
  background: #fff url("../../../assets/img/loaderfinal.gif") no-repeat center center;
  background-size: 8%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
}

@media (max-width: 1200px) {
  header {
    width: 100%;
  }
}